<body>
  <img style="height: 150px;width: 150px;position:sticky" src="../../assets/logoSouheil.png">
  <div class="container">
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <label for="nom">Username :</label><br><br>
      <input type="text" id="nom" name="nom" placeholder="Enter your Username" [(ngModel)]="form.username" required
        minlength="3" maxlength="20" #username="ngModel"><br><br>
      <div class="alert alert-danger" *ngIf="username.errors && f.submitted">
        <div *ngIf="username.errors?.['required']">Username is required</div>
        <div *ngIf="username.errors?.['minlength']">
          Username must be at least 3 characters
        </div>
        <div *ngIf="username.errors?.['maxlength']">
          Username must be at most 20 characters
        </div>
      </div>
      <label for="email">Email :</label><br><br>
      <input type="email" id="email" name="email" placeholder="Enter your Email" [(ngModel)]="form.email" required email
        #email="ngModel"><br><br>
      <div class="alert alert-danger" *ngIf="email.errors && f.submitted">
        <div *ngIf="email.errors?.['required']">Email is required</div>
        <div *ngIf="email.errors?.['email']">
          Email must be a valid email address
        </div>
      </div>
      <label for="prenom">Password :</label><br><br>
      <input type="password" id="prenom" name="prenom" placeholder="Enter your Password" [(ngModel)]="form.password"
        required minlength="6" #password="ngModel"><br><br>
      <div class="alert alert-danger" *ngIf="password.errors && f.submitted">
        <div *ngIf="password.errors?.['required']">Password is required</div>
        <div *ngIf="password.errors?.['minlength']">
          Password must be at least 6 characters
        </div>
      </div>
      <input type="submit" value="Sign Up"><br>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</body>