

<body>
    
    <img style="height: 150px;width: 150px;position:sticky" src="../../assets/logoSouheil.png">
    <div class="container">

        
        <label for="nom">Username *</label><br><br>
        <input type="text" id="nom" name="nom" placeholder="Enter your Username"><br><br>

        <label for="email">email *</label><br><br>
        <input type="text" id="email" name="email" placeholder="Enter your Email"><br><br>
      
        <label for="prenom">Password *</label><br><br>
        <input type="text" id="prenom" name="prenom"placeholder="Enter your Password"><br><br>
      
        <input routerLink="/login" type="submit" value="Sign Up"><br>
        
    </div>
    
</body>