
.contain{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
.im1{
  width: 300px;
  height: 200px;
  object-fit: contain;
}
.shape{
  width: 250px;
  height: 150px;
  background: rgb(226, 162, 78);
  padding: 5px;
  overflow: visible;
  margin-top: 20px;
  margin-left: 25px;
}
.shapeX{
  margin: 40px;
  width: 250px;
  height: 150px;
  transform: skew(20deg);
  background: black;
  overflow: visible;
}
