<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    
  </head>
  <body>
    <header>
      <img src="assets/logo.png" alt="logo" width="50" height="50" />
      <nav>
        <ul class="nav__links">
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/ristorique">Historique</a></li>
          <li><a routerLink="/registration">Registration</a></li>
        </ul>
      </nav>
      <a class="cta" href="#"><button>Contact</button></a>
    </header>
  </body>
</html>
