body{
    background-image: url(../../assets/ARE.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container {
    width: 500px;
    height: 100%;
    margin-left: 470px;
    background-color: #E1DBBD;
    padding-top: 40px;
    padding-left: 75px;
    font-size: 21px;
    
  } 
  
  label {
    display: inline-block;
    width: 100px;
    text-align: left;
    color: #1D1C18;
    box-shadow: 20px;
    
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  input[type="submit"] {
    background-color: #E2AC0D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    color: #1D1C18;
    text-shadow: 1px 1px 2px #1D1C18, 0 0 25px #ccc, 0 0 5px #ccc;
  }
  
  input[type="submit"]:hover {
    opacity: 80%;
    box-shadow: #1D1C18;
    
  }

  
  