
<body>
    
    <img style="height: 150px;width: 150px;position:sticky" src="../../assets/logoSouheil.png">
    <div class="container">

        
        <label for="nom">Chef d'equipe *</label>
        <input type="text" id="nom" name="nom" placeholder="Enter your Team Leader"><br><br>
      
      
        <label for="email">Email *</label>
        <input type="email" id="email" name="email" placeholder="Enter your Email"><br><br>
      
        <label for="telephone">Téléphone *</label>
        <input type="tel" id="telephone" name="telephone" placeholder="Enter your Telephone Number"><br><br>

        <label for="Robot">Robot *</label>
        <input type="text" id="Robot" name="Robot" placeholder="Enter your Robot Name"><br><br>
      
        <label for="sexe">Concours *</label>


        <input type="radio" id="homme" name="sexe" value="Autonome">
        <label for="homme">Autonome</label>

        
        <input type="radio" id="femme" name="sexe" value="Suiveur">
        <label for="femme">Suiveur</label>
        

        <div style="margin-left: 200px;">
        <input type="radio" id="femme" name="sexe" value="ToutTerrain">
        <label for="femme">Tout Terrain</label>

        <input type="radio" id="femme" name="sexe" value="Junior">
        <label for="femme">Junior</label>
        </div>

        
        
        
      
        <input type="submit" value="Register ">
        
    </div>
    
</body>