<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Formulaire.css">
    <title>Login</title>
</head>
<body>
    
    <img style="height: 150px;width: 150px;position:sticky" src="logo.png">
    <div class="container">

        
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom"><br><br>
      
        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom"><br><br>
      
        <label for="email">Email :</label>
        <input type="email" id="email" name="email"><br><br>
      
        <label for="telephone">Téléphone :</label>
        <input type="tel" id="telephone" name="telephone"><br><br>

        <label for="date_naissance">Date de naissance :</label>
        <input type="date" id="date_naissance" name="date_naissance"><br><br>
      
        <label for="sexe">Gender :</label>
        <input type="radio" id="homme" name="sexe" value="homme">
        <label for="homme">Homme</label>
        <input type="radio" id="femme" name="sexe" value="femme">
        <label for="femme">Femme</label><br><br>
      
        <input type="submit" value="Envoyer">
        
    </div>
    
</body>
</html>